body {
  margin: 0;
  font-family: "Tajawal", sans-serif;
  background: #f8f5f7;
  color: #222;
  text-align: center;
}

.header {
  background: linear-gradient(135deg, #97095a, #f9e8ef);
  padding: 10px 20px;
  color: #3a2b2f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
}

.nav-logo {
  width: 100px;
  height: 100px;
  border-radius: 5%;
}

.nav-links {
  margin: 0;
  padding: 0;

}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  list-style: none;
  font-weight: 600;
  font-size: 16px;
  
}

.nav-links ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  }

.nav-links ul li a:hover {
  background: #430b24;
}

.hero {
  padding: 20% ;
  background-image: url('./images/hero-img.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: hsl(47, 100%, 48%);
  border-radius: 5px;
}
.hero-content {
  display: inline-block;
  margin-right: 80% ;
}
.hero h1 {
  font-size: 80px;
  margin: 0;
}
.subtitle {
  margin-top: 8px;
  font-size: 22px;
  font-weight: 600;
}

.tagline {
  margin-top: 12px;
  font-size: 18px;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  background: #46012b;
  color: #fff;
  padding: 12px 30px;
  border-radius: 35px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition:  transform 0.4s, background 0.4s;
}
.btn:hover {
  background: #a37d94;
  transform: scale(1.05);
}

/* _________roules */
.rules h2{
  font-size: 30px;
  margin-bottom: 25px;
  color: #5f0d3c;
}

.rules ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  padding: 0;
  list-style: none;
}

.rules li {
  background: #fff;
  border: 1px solid #e9d9e4;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
}
/* ___________________________________________ */
@media (max-width: 500px) {
   .nav-links ul {
    gap: 12px;       
    font-size: 12px;  
  }

  .nav-links ul li a {
    font-size: 13px;  
    padding: 6px 8px;  
  }

  .nav-logo {
    width: 80px;      
    height: 80px;
    margin-right:  20px ;
  }

  .hero {
    padding: 30px ; 
  }
  .hero h1 {
  font-size: 20px;
}

}

/* _________________________________________end  __ */

.catalog {
  padding: 70px 20px;
}

.catalog h2 {
  font-size: 30px;
}

.grid {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 18px;
}

.item img {
  width: 100%;
  border-radius: 12px;
  border: 2px solid #e9d9e4;
  background: #fff;
}

.contact {
  padding: 70px 20px;
  background: #f2e7ec;
}

.whatsapp {
  background: #25d366;
  color: white;
  border: none;
  padding: 15px 35px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}


