body {
  margin: 0;
  font-family: "Tajawal", sans-serif;
  background: #f8f5f7;
  text-align: center;
}

.header {
  padding: 10px 20px;
  color: hsl(42, 93%, 58%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  border-bottom: #999999 1px solid;
}

.nav-logo {
  width: 100px;
  height: 100px;
  border-radius: 35%  5% 15%  5% ;
}

.nav-links {
  margin: 0;
  padding: 0;

}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  list-style: none;
  font-weight: 600;
  font-size: 16px;
  
}

.nav-links ul li a {
  text-decoration: none;
  color: hsl(42, 93%, 58%);
  font-size: 16px;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  
  }

.nav-links ul li a:hover {
  background: hsl(42, 93%, 58%);
  color: #fff;
}

.hero {
  margin: 40px 5%;
  padding: 20% ;
  background-image: url('./images/hero-img.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #5f0d3c;
  border-radius: 15px;
  box-shadow: #222 0px 4px 6px -1px, #222 0px 2px 4px -1px;
  
}
.hero-content {
  display: inline-block;
  width: 350px;
  margin-left: -70% ;

}
.hero h1 {
  font-size: 80px;
  margin: 0;
  color: hsl(42, 93%, 58%);

}
.subtitle {
  margin-top: 8px;
  font-size: 22px;
  font-weight: 600;
}

.tagline {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;

}

.btn {
  display: inline-block;
  margin-top: 25px;
  background: hsl(47, 100%, 48%);
  color: #fff;
  padding: 12px 30px;
  border-radius: 35px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition:  transform 0.4s, background 0.4s;
}
.btn:hover {
  background: #a37d94;
  transform: scale(1.05);
}

/* _________roules */
.rules h2{
  font-size: 30px;
  margin-bottom: 25px;
  color: hsl(42, 93%, 58%);
}

.rules ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  padding: 0;
  list-style: none;
}

.rules li {

  color: #fe0090;
  background: #f1f2f6;
  border: 1px solid #e9d9e4;
  padding: 15px 25px;
  margin: 15px 30px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
  box-shadow: #797979 0px 4px 6px -1px, #0f34c7 0px 2px 4px -1px;
}
/* ___________________________________________ */
@media (max-width: 500px) {
  
 
   .nav-links ul {
    gap: 12px;       
    font-size: 12px;  
  }

  .nav-links ul li a {
    font-size: 10px;  
    padding: 6px 8px;  
  }

  .nav-logo {
    width: 80px;      
    height: 80px;
    margin-right:  20px ;
  }

  .hero {
    padding: 30px ; 
  }
  .hero h1 {
  font-size: 20px;
}
/* hero Section */
  .subtitle {
    font-size: 14px;
  }

  .tagline {
    font-size: 10px;
  }

  .hero-content {
    width: 200px;
    margin-left: -40% ;
  }
  .btn {
    padding: 8px 20px;
    font-size: 12px;
  }

}

/* _________________________________________end  __ */
/* video section */
.catalog-container {
  /* position: relative; */
  /* display: inline-flex; */
}
#bg-video {
  height: 600px;
  width: 100%;
  border-radius: 15px;
}
/* video#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3;
} */

/* CATALOG SECTION  */
.catalog h2 {
  font-size: 30px;
  margin: 40px 0 ; 
}
.catalog p {
  font-size: 18px;
  color: #fe0090;
}
.grid {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 18px;
}

.item img {
  width: 100%;
  border-radius: 12px;
  border: 2px solid #e9d9e4;
  background: #fff;
}

/* CONTACT SECTION  */
.contact {
  padding: 70px 20px;
  background: #dee1ea;
}

.whatsapp {
  background: #125f2e;
  color: white;
  border: none;
  padding: 15px 35px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}


